@import "global";

.StartButton {
  position: absolute;
  top: calc(50% - ($centerLength / 2));
  right: calc(50% - ($centerLength / 2));
  width: $centerLength;
  height: $centerLength;
  background-color: $bg;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.StartButton h1 {
  font-size: 50px;
}

@media screen and (max-width: 560px) {
  .StartButton {
    width: 98px;
    height: 98px;
    top: calc(50% - 49px);
    right: calc(50% - 49px);
  }
  .StartButton h1 {
    font-size: 30px;
  }
}